.navbar-wrapper {
  display: contents;
}
 
.navbar-navbar {
  width: 1226px;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: 1200px;
  align-self: auto;
  align-items: center;
  flex-shrink: 1;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.navbar-container1 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.navbar-navlink {
  display: contents;
}
 
.navbar-image1 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
 
.navbar-text1 {
  text-align: center;
}
 
.navbar-nav-content {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar-nav-links1 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  justify-content: flex-end;
}
 
.navbar-link1 {
  color: var(--dl-color-gray-white);
  font-size: 22px;
  text-decoration: none;
}
 
.navbar-link2 {
  font-size: 22px;
  text-decoration: none;
}
 
.navbar-link3 {
  font-size: 22px;
}
 
.navbar-link4 {
  font-size: 22px;
}
 
.navbar-hamburger {
  display: none;
}
 
.navbar-image2 {
  width: 100px;
  object-fit: cover;
}
 
.navbar-mobile-menu {
  gap: var(--dl-layout-space-twounits);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  background-color: #fff;
}
 
.navbar-branding {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-image3 {
  width: 100px;
  filter: brightness(0) saturate(100%);
  object-fit: cover;
}
 
.navbar-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-icon1 {
  width: 24px;
  height: 24px;
}
 
.navbar-nav-links2 {
  gap: var(--dl-layout-space-unit);
  color: var(--dl-color-gray-black);
  display: flex;
  flex-direction: column;
}
 
.navbar-text2 {
  color: rgba(255, 255, 255, 1);
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  text-decoration: none;
}
 
.navbar-container4 {
  display: contents;
}
 
.f-pi-ga-fragment {
  display: contents;
}
 
.f-pi-ga-text1 {
  color: var(--dl-color-gray-white);
  display: inline-block;
}
 
.navbarroot-class-name {
  flex: initial;
  width: 100%;
  overflow: visible;
  max-width: 1400%;
  min-width: auto;
  align-self: flex-start;
  max-height: 200px;
}
 
.navbarroot-class-name1 {
  width: 100%;
  max-width: 1400%;
  min-width: auto;
  align-self: flex-start;
  max-height: 200px;
}
 
.navbarroot-class-name2 {
  width: 100%;
  height: 200px;
  max-width: 1400%;
  align-self: center;
}
 
@media(max-width: 767px) {
  .navbar-navbar {
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .navbar-nav-links1 {
    display: none;
  }
  .navbar-hamburger {
    display: flex;
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
  .navbar-image2 {
    width: 16px;
    height: 14px;
  }
  .navbar-branding {
    width: 100%;
  }
  .navbar-nav-links2 {
    margin-top: var(--dl-layout-space-twounits);
    align-items: flex-start;
    margin-bottom: var(--dl-layout-space-twounits);
    justify-content: center;
  }
}

.f-pi-ga-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0F0F0F;
}
 
.f-pi-ga-fragment {
  display: contents;
}
 
.f-pi-ga-text1 {
  color: var(--dl-color-gray-white);
  display: inline-block;
}
 
.f-pi-ga-container2 {
  width: 100%;
  height: 801px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.f-pi-ga-text2 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 60px;
  font-style: italic;
  text-align: center;
  font-weight: 800;
}
